services:

  home-assistant:
    image: homeassistant/home-assistant:{{ HOME_ASSISTANT_TAG }}
#   {% if HOME_ASSISTANT_EXPOSE_PORT > 0 %}
    ports:
      - '{{ HOME_ASSISTANT_EXPOSE_PORT }}:8123'
#   {% endif %}
    volumes:
      - '{{ mkdir(APP_DATA_PATH/"config") | chown }}:/config'
      - '/etc/localtime:/etc/localtime:ro'
      - '/run/dbus:/run/dbus:ro'
    privileged: true
    networks:
      - nginx

networks:
  nginx:
    name: nginx
