services:
  openwrt_builder:
    image: p3terx/openwrt-build-env:latest
    user: '{{ DOCKER_UID }}:{{ DOCKER_GID }}'
    volumes:
      - '{{ OPENWRT_BUILD_PATH | mkdir | chown(docker_user) }}:/home/user/openwrt'
      - '{{ chown(CONTAINER_PATH/"configs", docker_user) }}:/home/user/configs'
      - '{{ chown(CONTAINER_PATH/"patchs", docker_user) }}:/home/user/patchs'
    working_dir: "/home/user/openwrt"
    networks:
      - build

networks:
  build:
    name: build
